.websites-records-container{
    width: 80%;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  
  .pagination p {
    margin-right: 16px;
  }
  
  .pagination-button {
    padding: 8px 16px;
    margin: 0 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }